.login{
    margin: 1rem 1rem;
  /*  background-image: url(https://i.imgur.com/pPA5YPc.png);*/
   background-image: url(https://i.imgur.com/0EBwg3a.png?1);

    height: 768px;
}
.close{
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--colorTextClaro);
}

.titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5rem;
    font-weight:800;

    margin-top: 3.8rem;
}
.titulo_decorado{
    font-size: 2rem;
    font-weight: 600;
}